<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>주문</title>
<link th:href="@{/css/order.css}" rel="stylesheet">
<link rel="shortcut icon" type="image/x-icon" th:href="@{/css/images/favicon.ico}">
<link rel="stylesheet" th:href="@{/css/listStyle.css}" type="text/css" media="all">
<link rel="stylesheet" th:href="@{/css/commonStyle.css}" type="text/css" media="all">
<!--[if lt IE 9]><script src="js/modernizr.custom.js"></script><![endif]-->
</head>

<body>
<!-- wrapper -->
<div id="wrapper" align="center">
    <!-- header -->
  <th:block th:replace="~{fragments/header :: header}"></th:block>
  <!-- end of header -->
	<div class="orderGoods_div">
		<!-- 상품 종류 -->
		<div class="goods_kind_div">
			주문상품  <span class="goods_kind_div_count" th:text="${amount}"></span>개
		</div>
		<!-- 상품 테이블 -->
		<table class="goods_subject_table">
			<tbody>
				<tr>
					<th>이미지</th>
					<th>상품 정보</th>
					<th>판매가</th>
				</tr>
			</tbody>
			<tbody th:each ="cart : ${cartList}">
				<tr>
					<td>
						<img th:src="@{'../images/'+${cart.book.image}}" alt="이미지" th:if="${cart.book.image != null}"/>
					</td>
					<td th:text ="${cart.book.title}"></td>
					<td class="goods_table_price_td" th:align = "center">
						<span th:text="${#numbers.formatInteger(cart.book.price,3,'COMMA')}"></span>원 | 수량 <th:block th:text="${cart.quantity}"></th:block>개 
						<br><span th:text="${#numbers.formatInteger(cart.book.price * cart.quantity,3,'COMMA')}"></span>원
						<br>[<span th:text="${#numbers.formatInteger(cart.book.per_point * cart.quantity,3,'COMMA')}"></span> P]
					</td>
				</tr>							
			</tbody>
		</table>
	</div>
	<div class="point_div" th:align = "center">
		<div class="point_div_subject" th:align = "center">포인트 사용</div>
		<table class="point_table" th:align = "center">
			<tbody>
				<tr>
					<th>포인트 사용</th>
					<td>
						<span class="userPoint_span"></span> | <input class="order_point_input" value="0" th:onchange="maxPoint([[${user.point}]])">원
						<input type="hidden" th:value="${user.point}" id="userPoint"> 
						<a class="order_point_input_btn order_point_input_btn_N" data-state="N">모두사용</a>
						<a class="order_point_input_btn order_point_input_btn_Y" data-state="Y" style="display: none;">사용취소</a>
						
					</td>
				</tr>
			</tbody>
		</table>
	</div>
<div class="total_info_div">
		<!-- 가격 종합 정보 -->
		<form th:action="@{/order/getOrder}" method="post" th:id="requestOrder">
		<input type="hidden" th:value="${cartList}" name="cartList">
		<input type="hidden" th:value="${user.id}" name="id">
		<input type="hidden" name="used_point">
		<input type="hidden" name="insert_point" th:id="insert_point">
		<input type="hidden" th:value="${#aggregates.sum(cartList.![book.price * quantity])}" name="total_price" th:id="total_price">
		<input type="hidden" th:value="${#aggregates.sum(cartList.![quantity])}" name="totalCount" th:id="totalCount">
		<input type="hidden" th:value="${#aggregates.sum(cartList.![book.per_point * quantity])}" name="total_point" th:id="total_point">
		<div class="total_info_price_div">
			<ul>
				<li>
					<span class="price_span_label">상품 금액</span>
					<span class="totalPrice_span">0</span>원
				</li>
				<li>
					<span class="price_span_label">배송비</span>
					<span class="delivery_price_span" th:id="delivery_fee">0</span>원
				</li>
																		<li>
					<span class="price_span_label">포인트 차감</span>
					<span class="usePoint_span">0</span>원
				</li>
				<li class="price_total_li">
					<strong class="price_span_label total_price_label">최종 결제 금액</strong>
					<strong class="strong_red">
						<span class="total_price_red finalTotalPrice_span">
							0
						</span>원
					</strong>
				</li>
				<li class="point_li">
					<span class="price_span_label">적립예정 포인트</span>
					<span class="totalPoint_span" th:id="new_point">0원</span>
				</li>
			</ul>
		</div>
		<!-- 버튼 영역 -->
		<div class="total_info_btn_div">
			<a class="order_btn" >결제하기</a>
		</div>
		</form>
	</div>
	</div>
<!-- footer -->
<th:block th:replace="~{fragments/footer :: footer}"></th:block>
<!-- end of footer -->
</body>
<script th:src="@{/js/jquery-3.6.3.min.js}"></script>
<script th:src="@{/js/order.js}" th:inline="javascript"></script>
</html>