<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block th:fragment="footer">
<div class="top" align="center">
	<a th:href="@{#}" th:text="TOP"></a>
</div>
<footer>
<div id="footer">
	<div class="footer_wrap">
      <nav class="footer-nav">
        <ul>
          <li class="active"><a href="#">HOME</a></li>
          <li><a href="#">ABOUT US</a></li>
          <li><a href="#">SERVICES</a></li>
          <li><a href="#">SHOWCASE</a></li>
          <li><a href="#">CAREERS</a></li>
          <li><a href="#">CONTACT US</a></li>
        </ul>
      </nav>
      <p class="copy"> All Rights Reserved Copyright 2012 <a target="_blank" href="http://chocotemplates.com">ChocoTemplates</a></p>
	</div>
</div>
</footer>
</th:block>
</body>
</html>